n8n/workflows/01-namakdoon-list.json
{
  "name": "Namakdoon - List Recipes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "namakdoon-list",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "list-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "namakdoon-list"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "namakdoon_recipes"
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "createdAt",
        "orderByDirection": "DESC"
      },
      "id": "list-get",
      "name": "Get All Recipes",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [500, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"recipes\": $input.all().map(i => i.json).filter(r => r && r.id) } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, X-Admin-Token"
              }
            ]
          }
        }
      },
      "id": "list-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Get All Recipes", "type": "main", "index": 0 }]]
    },
    "Get All Recipes": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
