n8n/workflows/02-namakdoon-get.json
{
  "name": "Namakdoon - Get Recipe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "namakdoon-get",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "get-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 300],
      "webhookId": "namakdoon-get"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1",
              "name": "id",
              "value": "={{ $json.query?.id || $json.id || '' }}",
              "type": "string"
            },
            {
              "id": "g2",
              "name": "slug",
              "value": "={{ $json.query?.slug || $json.slug || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "get-prepare",
      "name": "Prepare Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-slug",
              "leftValue": "={{ $json.slug }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "get-has-slug",
      "name": "Has Slug?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "namakdoon_recipes"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "condition": "eq",
              "keyValue": "={{ $json.slug }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "id": "get-by-slug",
      "name": "Get BySlug",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [880, 180],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "slug-found",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "get-slug-found",
      "name": "Slug Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 180]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "namakdoon_recipes"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Query').item.json.id || $('Prepare Query').item.json.slug }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "id": "get-by-id",
      "name": "Get ById",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [880, 420],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.id ? { \"recipe\": $json } : { \"error\": \"دستور پیدا نشد\" } }}",
        "options": {
          "responseCode": "={{ $json.id ? 200 : 404 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "get-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Prepare Query", "type": "main", "index": 0 }]]
    },
    "Prepare Query": {
      "main": [[{ "node": "Has Slug?", "type": "main", "index": 0 }]]
    },
    "Has Slug?": {
      "main": [
        [{ "node": "Get BySlug", "type": "main", "index": 0 }],
        [{ "node": "Get ById", "type": "main", "index": 0 }]
      ]
    },
    "Get BySlug": {
      "main": [[{ "node": "Slug Found?", "type": "main", "index": 0 }]]
    },
    "Slug Found?": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }],
        [{ "node": "Get ById", "type": "main", "index": 0 }]
      ]
    },
    "Get ById": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
