n8n/workflows/02-namakdoon-get.json
{
  "name": "Namakdoon - Get Recipe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "namakdoon-get",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "get-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "namakdoon-get"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "namakdoon_recipes"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.query.id || $json.id }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "id": "get-row",
      "name": "Get Recipe Row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [500, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.id ? { \"recipe\": $json } : { \"error\": \"دستور پیدا نشد\" } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "get-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Get Recipe Row", "type": "main", "index": 0 }]]
    },
    "Get Recipe Row": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
