n8n/workflows/06-namakdoon-auth.json
{
  "name": "Namakdoon - Auth Verify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "namakdoon-auth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "auth-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "namakdoon-auth"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "adminToken",
              "value": "={{ $json.headers['x-admin-token'] || $json.headers['X-Admin-Token'] || $json.adminToken || $json.body?.adminToken || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "auth-prepare",
      "name": "Read Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c-auth",
              "leftValue": "={{ $json.adminToken }}",
              "rightValue": "CHANGE_ME_ADMIN_TOKEN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "auth-check",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "auth-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"توکن نادرست است\" } }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "auth-fail",
      "name": "Respond Fail",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Read Token", "type": "main", "index": 0 }]]
    },
    "Read Token": {
      "main": [[{ "node": "Auth OK?", "type": "main", "index": 0 }]]
    },
    "Auth OK?": {
      "main": [
        [{ "node": "Respond OK", "type": "main", "index": 0 }],
        [{ "node": "Respond Fail", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
